<nav>
  <ul>
    <li><a href="#"><b><%= @user_login%></b></a>
      <ul class="submenu">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Close session</a></li>
      </ul>
    </li> 
    <li><a href="/show_users">See all users</a></li> 
    <li><a href="/secret">Read</a></li>  
  </ul>
  <br clear="all">
</nav>



  <h3 class="logo">Clon de Quora</h3>
  <p>Página de inicio</p>
   
<div class="login">
  <form action="/create_question" method="post">
    <input type="text" name="question" value="¿?"placeholder="What's your question?">
    <input type="submit" value="Ask">
  </form><br><br>

  <div> 
    <% total_likes = 0 %>
    <% total_unlikes = 0 %>
    <% @question.each do |quest|%>
      <h4> 
        <a href="/show_question/<%= quest.id %>"><%= quest.id %>. <%= quest.question %></a><br> 
      </h4>
        <% quest.question_votes.each do |vote| %>  
          <% if vote.like == 1 %>
            <% total_likes +=1 %>
          <% elsif vote.unlike == 1  %>
            <% total_unlikes +=1 %>
          <%end%>
        <% end %>  
        <a href="/like/<%=quest.id%>"><button id="sesion" type="button">Like:<%= total_likes %></button></a>   
        <a href="/unlike/<%=quest.id%>"><button id="sesion" type="button">Unlike: <%= total_unlikes %></button></a><br> <br> 
      
      <% total_likes = 0 %>
      <% total_unlikes = 0 %>
    <% end %>
  </div>

</div> <!-- end class loggin -->
    

  
  

  

  
